.button {
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    padding: 15px 30px;
    font-size: 21px;
    min-width: 150px;
    min-height: 70px;

    &:hover {
        color: rgb(210, 210, 210);
        cursor: pointer;
    }
}
