
/* GENERAL */
* {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

/* HEADER */
.header {
    background-image: url(../images/sections_background/section-1.jpg);
    background-attachment: fixed;
}

.header_topline {
    align-items: center;
    background: rgba(94, 93, 88, 0.6);
}

.header_container {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    margin-top: 26px;
    margin-bottom: 27px;
    display: flex;
    align-items: center;
}

.header_title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 6px;
    font-size: 32px;
    line-height: 48px;
    font-weight: normal;
    color: #FFFFFF;
}

.header_title span {
    font-weight: bold;
    color: #18CFAB;
}

.navigation_menu {
    margin-top: 48px;
    text-align: center;
    justify-content: center;
    display: flex;
}
 
.navigation_list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation_menu_item {
    margin-left: 21px;
}

.navigation_menu_link {  
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid transparent;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.1s ease-in;
}

.navigation_menu_link:hover {  
    color: #18CFAB;
    padding-bottom: 49px;
    border-bottom: 2px solid #18CFAB;
}

.magnifier {
    margin-left: 21px;
    padding-top: 1px;
    width: 22px;
    height: 20px;
}

.header_info {
    margin-top: 366px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1px;
}

.headinside_pretitle {
    margin: 0;
    font-weight: bold;
    font-size: 35px;
}

.headinside_pretitle span {
    color: #18CFAB;
}

.headinside_title {
    margin-top: 70px;
    margin-bottom: 69px;
    font-weight: bold;
    font-size: 78px;
}

.headinside_lozung {
    margin: 0;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
}

.headinside_links {
    margin-top: 147px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
}

.hlp_explore_pre, .hlp_purchase_pre {
    background-color: #FFFFFF;
    padding-bottom: 16px;
    padding-top: 21px;
    border-radius: 5px;
}

.hlp_explore_pre {
    margin-right: 13px;
}

.hlp_explore_pre:hover .headinside_link_explore {
    background-color: rgb(4, 137, 101);
}

.hlp_purchase_pre {
    margin-left: 13px;
}

.hlp_purchase_pre:hover .headinside_link_purchase {
    background-color: rgb(0, 133, 176);
}

.headinside_link_explore, .headinside_link_purchase {
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 5px;
    color: #FFFFFF;
    transition: background-color 0.2s;
}

.headinside_link_explore {
    padding-left: 17px;
    padding-right: 18.17px;
    background-color: #18CFAB;
}

.headinside_link_purchase {
    padding-left: 11.59px;
    padding-right: 10.59px;
    background-color: #00CBF6;
}

/* MAIN */
.main {
    margin-top: 10px;
}

.section_name {
    text-align: center;
}

.section_title {
    margin: 0;
    font-size: 36px;
    line-height: 40px;
    font-style: normal;
    font-weight: normal;
    color: #4E4E4E;
}

.section_double_hr, .section_double_hr_s {
    width: 79px;
    height: 1px;
    background-color: #18CFAB;
    border: none;
}

.section_double_hr {
    margin-top: 24px;
    margin-bottom: 0;
}

.section_double_hr_s {
    margin-top: 3px;
    margin-left: calc(47% + 12px);
    margin-bottom: 0;
}

.features_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.features_list_item {
    width: 25%;
    height: 377px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.features_list_item:nth-child(1), .features_list_item:nth-child(3) {
    background: #1C2A33;
}

.features_list_item:nth-child(2), .features_list_item:nth-child(4) {
    background: #18CFAB;
}

.features_title_blue, .features_title_white {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 110px;
}

.features_title_blue {
    color: #18CFAB;
}

.features_title_white {
    color: white;
}

.feature_image_blue {
    margin-top: 85px;
}

.feature_image_white {
    margin-top: 95px;
}

.main_services {
    width: 1160px;
    margin: 85px auto;
}

.services_buttons {
    margin-top: 69px;
    margin-bottom: 0;
    display: flex;
    padding: 0;
    list-style: none;
}

.services_button {
    width: calc(100%/6);
    height: 73px;
    color: #717171;
    font-size: 15.9859px;
    line-height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.services_button_active {
    color: #FFFFFF;
    background: #18CFAB;
}

.services_button_active::after {
    position: absolute;
    content: " ";
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 15px solid #18CFAB;
    margin-top: 79px;
}

.services_button:hover {
    border: 1px solid #18CFAB;
    cursor: pointer;
}

.service_description {
    margin-top: 25px;
    display: flex;
}

.service_ilustration {
    margin-right: 15px;

    /* 
    можно убрать ширину и высоту ниже, но
    тогда при переключении картинки с разными разрешениями будут выглядеть
    криво.
    */
    
    width: 195px;
    height: 140px;
}

.service_description_paragraph {
    color: #777777;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    margin: 0;
}

.purchase_banner {
    margin-top: 6px;
    height: 476px;
    width: auto;
    background-image: url(../images/sections_background/section-2.jpg);
    background-attachment: fixed;
}

.purchase_banner_content {
    height: 476px;
    background: rgba(0, 0, 0, 0.78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase_banner_title {
    color: #18CFAB;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
}

.purchase_banner_lozung {
    margin-top: 12px;
    color: #D8D8D8;
    font-size: 16px;
    line-height: 40px;
}

.purchase_banner_pre {
    margin-top: 46px;
    background-color: #FFFFFF;
    padding-bottom: 16px;
    padding-top: 21px;
    border-radius: 5px;
}

.purchase_banner_link_purchase {
    background-color: #18CFAB;
    padding: 16px 10.59px 16px 11.59px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.2s;
}

.purchase_banner_pre:hover .purchase_banner_link_purchase {
    background-color: rgb(4, 137, 101);
}

.gallery_of_images {
    padding-top: 108px;
}

.what_people_say_container, .gallery_of_images_container  {
    width: 1160px;
    margin: 0 auto;
}

.our_amazing_works {
    background: #E9EDEF;
    padding-top: 95px;
    padding-bottom: 99px;
}

.our_amazing_works_container {
    width: 1140px;
    margin: 0 auto;
}

.our_amazing_works_buttons {
    display: flex;
    padding: 0;
    list-style: none;

    width: 582px;
    margin: 69px auto;
}

.our_amazing_works_button {
    padding-right: 15px;
    padding-left: 15px;
    height: 58px;
    color: #717171;
    font-size: 14px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DADADA;
    transition: all 0.1s linear;
}

.our_amazing_works_button:nth-child(1) {
    padding-right: 26px;
    padding-left: 26px;
}

.our_amazing_works_button_active {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.our_amazing_works_button:hover {
    cursor: pointer;
}

.our_amazing_works_images {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 285px);
    grid-gap: 0;
    padding: 0;
    margin: 0;
}

.layer1, .layer2, .layer3 {
    display: none;
}

.our_amazing_works_images_item, .our_amazing_works_image {
    width: 285px;
    height: 206px;
    animation: item_init 0.4s ease;
}

@keyframes item_init {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.our_amazing_works_item_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 285px;
    height: 203px;
    opacity: 0;
    background: #E9EDEF;
    border-top: 3px solid #18CFAB;
    transition: all 0.25s ease-in-out;
}

.our_amazing_works_item_content h6 {
    margin-top: 26px;
    margin-bottom: 0px;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.our_amazing_works_item_content p {
    margin: 0;
    color: #8A8A8A;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
}

.our_amazing_works_item_content div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.oawic_link_chains, .oawic_link_rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
    border: 1px solid #18CFAB;
    border-radius: 100%;
    margin: 0;
}

.oawic_link_chains img, .oawic_link_rectangle img {
    width: 17px;
    height: 17px;
}

.oawic_link_rectangle {
    background: #18CFAB;
    margin-left: 3px;
}

.our_amazing_works_item_content:hover {
    opacity: 1;
}

.breaking_news_container {
    width: 1180px;
    margin: 0 auto;
}

.breaking_news {
    margin-top: 82px;
}

.breaking_news_list {
    padding: 0;
    margin-bottom: 78px;
    margin-top: 68px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.news_post {
    margin-bottom: 44px;
    padding-left: 16px;
    padding-right: 16px;
}

.news_post_date {
    padding: 6.85px 18.85px;
    margin-top: 0;
    margin-left: 195px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    position: absolute;
    background: #203E38;
    transition: all 0.2s linear;
}

.news_post_image {
    width: 263px;
    height: 208px;
}

.news_post:hover .news_post_date {
    background: #18CFAB;
}

.news_post:hover .news_post_title {
    padding-left: 10px;
    color: #18CFAB;
}

.news_post_content {
    padding-left: 14px;
}

.news_post_content div {
    margin: 0;
    padding-left: 2px;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 22px;
    color: #777777;
}

.news_post_user::after {
    content: "|";
    margin-left: 14px;
    margin-right: 14px;
}

.news_post_title {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    transition: all 0.125s linear;
}

.news_post_paragraph {
    margin-top: 4px;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
}

.what_people_say {
    background-image: url(../images/sections_background/section-3.jpg);
    background-attachment: fixed;
}

.what_people_say_container h4 {
    padding-top: 98px;
    color: #FFFFFF;
}

.wps_reviews {
    text-align: center;
    margin-top: 66px;
    padding-bottom: 95px;
}

.wps_review_mainImage {
    border: 12px solid rgba(31, 218, 181, 0.2);
    border-radius: 100%;
}

.wps_reviewer_description, .wps_reviewer_job {
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.wps_reviewer_description {
    margin-top: 36px;
    margin-bottom: 37px;
}

.wps_reviewer_job {
    margin-top: 0;
    margin-bottom: 38px;
}

.wps_reviewer_name {
    margin-top: 0;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;
}

.wps_switchsection {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wps_switchbutton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #BBBBBB;
    margin-left: 21px;
    margin-right: 21px;
}

.wps_switchbutton:hover {
    background: #18CFAB;
    border: none;
}

.wps_switchbutton:hover svg path {
    fill: white;
}

.wps_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.wps_list_item {
    margin-left: 14px;
    margin-right: 14px;
}

.wps_list_item:hover {
    cursor: pointer;
}

.wps_list_item_active {
    margin-bottom: 24px;
}

.wps_item_img {
    border: 6px solid rgba(31, 218, 181, 0.2);
    border-radius: 100%;
    width: 61px;
    height: 61px;
}

.g_o_i_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 921px;
    flex-wrap: wrap;
    margin-top: 83px;
}

.g_o_i_item {
    margin: 4px;
    animation: item_init 0.4s ease;
}

.gallery_img_hover {
    position: absolute;
    opacity: 0;
    background: rgba(0, 0, 0, 0.64);
    display: flex;
    align-items: center;
    transition: all 0.15s ease-in-out;
}

.gallery_img_hover a {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 25px;
    background: #14B9D5;
}

.gallery_img_hover:hover {
    opacity: 1;
}

.multiple_item_large {
    display: flex;
    list-style: none;
    padding: 0;
}

.g_o_i_split_large {
    width: 183.5px;
    height: 171.5px;
}

.multiple_item_large li:nth-child(1) {
    padding-right: 3px;
}

.multiple_item_mini {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 3px;
    padding: 0;
    margin: 0;
}

.g_o_i_split_mini_115px, .g_o_i_split_mini_119px, .g_o_i_split_mini_124px {    
    height: 92px;
}

.g_o_i_split_mini_115px {
    width: 115px;
}

.g_o_i_split_mini_119px {
    width: 119px;
}

.g_o_i_split_mini_124px {
    width: 124px;
}

.g_o_i_loadmore {
    margin-top: 52px;
    margin-bottom: 62px;
}

.o_a_w_loadmore {
    margin-top: 70px;
}

.o_a_w_loadmore_inside, .g_o_i_loadmore_inside {
    background: #18CFAB;
    width: 168px;
    height: 63px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    color: #FFFFFF;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

.o_a_w_loadmore_inside:hover, .g_o_i_loadmore_inside:hover {
    cursor: pointer;
    background-color: rgb(4, 167, 131);
}

.o_a_w_loadmore_inside img, .g_o_i_loadmore_inside img {
    margin-right: 15px;
}

/* FOOTER */
.footer {
    height: 121px;
    background: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_copyright {
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}

.footer_copyright a {
    color: #18CFAB;
}


