.page_body {
    background-image: url(../images/background.png);
    max-width: 1030px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

a:hover {
    color: #F26522;    
}

.header {
    display: flex;
    margin-top: 51px;
    justify-content: space-between;
}

.logo {
    display: flex;
    color: #FFFFFF;
}

.logo:hover .title_milan {
    color: #F26522;
}

.logo:hover .logo_image_hovered {
    opacity: 1;
}

.logo_image_hovered {
    opacity: 0;
    position: absolute;
}

.title_milan {
    margin-left: 8px;
    margin-right: 0;
    margin-top: 2px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 29px;
    line-height: 29px;
    font-weight: bold;
    text-transform: uppercase;
}

.title_holidays {
    font-size: 18px;
    line-height: 18px;
}

.links {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.phone_link {
    margin-top: 19px;
    margin-bottom: 17px;
}

.list {
    list-style: none;
    display: grid; 
    grid-template-areas: 
    "item1 item2 item3"  
    "item4 item5 item6";
    grid-row-gap: 37px;
    grid-column-gap: 63px;

    padding: 0;

    margin: 0 auto;
}

.item_block {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item_block:nth-child(1) {
    grid-area: item1; 
}

.item_block:nth-child(2) {
    grid-area: item2; 
}

.item_block:nth-child(3) {
    grid-area: item3; 
}

.item_block:nth-child(4) {
    grid-area: item4; 
}

.item_block:nth-child(5) {
    grid-area: item5; 
}

.item_block:nth-child(6) {
    grid-area: item6; 
}

.item_image_block {    
    padding: 1px;
    background: linear-gradient(white, black);
}

.item_image {
    width: 300px;
    height: 220px;
}

.details_container {
    text-align: left;
    background-color: #F26522;
    width: 298px;
    position: absolute;
    margin-top: 195px;
    margin-left: 2px;
    color: #FFFFFF;
    
    opacity: 0;
    max-height: 0;
    transition: max-height 0.6s, opacity 0.4s, margin-top 1s;
}

.item_block:hover .details_container {
    opacity: 1;
    max-height: 55px;
    margin-top: 165px;
}

.container_text {
    margin-left: 16px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 12px;
    justify-content: space-between;
}

.container_price {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 10px;
    margin: 0;
}

.container_price_number { 
    padding-top: 8px;
    font-size: 20px;
    line-height: 20px;
}

.container_details, .container_details:hover {
    font-size: 14px;
    line-height: 14px;
    margin-right: 14px;
    margin-top: 24px;
}

.container_details::after {
    content: ">";
    margin-left: 16px;
}

.item_title {
    margin-top: 20px;
}

.copyright {
    margin-top: 49px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}