a {
    text-decoration: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    display: none;
    width: 100%;
    height: 100%;

    &__content {
        background-color: #E94A35;
        color: #fff;
        text-align: center;
        border-radius: 1%;
    }

    &__secondModal {
        background-color: green;
    }

    &__header {
        display: flex;
        align-items: center;
        position: relative;
        padding: 25px;
        border-top-left-radius: 1%;
        border-top-right-radius: 1%;
        background-color: rgba(0, 0, 0, 0.1);
        
        &-title {
            margin: 0;
            font-size: 30px;
            padding: 0;
        }
    }

    &__close {
        position: absolute;
        color: gray;
        font-size: 30px;
        right: 30px;
        top: 25px;
    }

    &__body {
        padding: 25px 40px;
        font-size: 21px;
    }

    &__buttons {
        padding-bottom: 30px;
    }

    &.active {
        display: flex;
    }
}
