body { 
  background: #111; 
  perspective: 300px;
  overflow: hidden;
}

.titles {
  text-align: center;
}

.text {
 margin: 0 auto;
 color: #fcd000;
 font-size: 30px;
 font-weight: bold;
 width: 600px;
 animation: scroll_anim 30s;
 animation-iteration-count: infinite;
}

@keyframes scroll_anim {
  0% { transform: rotateX(30deg) translateY(480px); }
  100% { transform: rotateX(30deg) translateY(-400px); }
}