* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400; 
}

a {
    text-decoration: none;
    color: #fff;
    transition: all 0.15s linear;
}

a:hover {
    color: #3CB878;
}

.page_body {
    background-image: url(../images/bg.png);
}

.page_header {
    display: flex; 
    background-color: rgba(0, 0, 0, 0.4);   
    
    justify-content: space-between;
}

.header_title { 
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
    margin-left: 79px;
}

.header_options {
    display: flex;
    align-items: center;

    margin-right: 79px;
}

.icon_buttons_list {
    display: flex;
    list-style: none;
}

.icon_button {
    margin-left: 25px;
}

.icon_button_image {
    transition: all 0.15s linear;
}

.icon_button_image:hover {
    filter: invert(64%) sepia(12%) saturate(1924%) hue-rotate(96deg) brightness(92%) contrast(90%);
}

.header_login {
    display: flex;
    color: white;
    font-size: 14px;
    line-height: 14px;
}

.header_login::before {
    content: "|";
    font-size: 19px;
    margin-left: 25px;
    margin-right: 27px;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.45);
}

.page_main {
    margin-top: 45px;
    margin-bottom: 74px;
}

.main_container {
    width: 444px;
    margin: 0 auto;

    background-color: white;
    
    padding-bottom: 38px;
}

.register_form {
    display: grid;
}

.container_header_block {
    margin-top: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_title {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
}

.container_title::before {
    margin-right: 43px;
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.container_login {
    color: #3CB878;
    margin-right: 59px;
    margin-top: 5px;
}

.container_login:hover {
    text-decoration: underline;
    color: #01813F;
}

.socialnet_options {
    display: flex;
    margin-top: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}

.socialnet_image_google {
    border-right: solid 1px rgba(43, 13, 9, 0.1);
    padding-right: 7px;
    margin-right: 30px;
}

.socialnet_image_facebook {
    border-right: solid 1px rgba(43, 13, 9, 0.1);
    padding-right: 19px;
    margin-right: 18px;
}

.socialnet_button:nth-child(1) {
    margin-left: 60px;
    margin-right: 2px;
}

.socialnet_button:nth-child(2) {
    margin-right: 60px;
    margin-left: 2px;
}

.socialnet_facebook {
    background: #305DB8;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 22px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.socialnet_facebook:hover {
    background: #022263;
    color: #FFFFFF;
}

.socialnet_google {
    background: #DF4A32;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 27px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.socialnet_google:hover {
    background: #AB1F09;
    color: #FFFFFF;
}

.alternative_login {
    text-align: center;
    color: #848484;
    margin-bottom: 11px;
}

.alternative_login::before,
.alternative_login::after {
    display: inline-block;
    content: "";
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #F2F2F2;
    width: 152px;
}

.form_element {
    margin-bottom: 15px;
    
    margin-left: 60px;
    margin-right: 60px;
    height: 44px;
    width: auto;
    padding-left: 20px;
    color: #BEBEBE;
    
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.form_element_last {
    margin-bottom: 0;

    margin-left: 60px;
    margin-right: 60px;
    height: 44px;
    width: auto;
    padding-left: 20px;
    color: #BEBEBE;
    
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.form_element:focus,
.form_element_last:focus,
.form_element_last:focus:invalid,
.form_element:focus:invalid {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    outline-color: rgba(255, 255, 255, 0.25);
    color: black;
}

.final_steps {
    margin-top: 12px;
}

.agreement {
    margin-left: 62px;
}

.terms_and_conditions {
    color: #3CB878;
}

.terms_and_conditions:hover {
    color: #01813F;
    text-decoration: underline;
}

.btn_create_account {
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    display: block;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
}

.btn_create_account:hover {
    color: #FFFFFF;
    background: #01813F;
}