body {
    font-family: sans-serif;
    background: linear-gradient(180deg, #f2f2f2 50%, #fff 50%);
}

a {
    text-decoration: none;
}

.header {
    padding: 0px;
    background-color: #313131;

    display: flex;
    align-items: center;
}

.header_title {
    font-size: 22px;
    line-height: 30px;
    margin-left: 27px;
    color: #FFF;
}

.navigation_menu {
   text-align: center;
   justify-content: center;
   margin-left: 10%;
}

.navigation_list {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 28px;
    padding-bottom: 26px;
    list-style: none;
 
    display: flex;
}

.navigation_menu_logo {
    width: 27px;
    height: 27px;
    margin-left: 27px;
}

.navigation_menu_item {
    margin-right: 35px;
}

.navigation_menu_item:nth-last-child() {
    margin-right: 0;
}

.navigation_menu_link {
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.navigation_menu_link:hover {
    color: #14B9D5;
}

.search_tool {
    background-color: #000000;
    width: 17px;
    height: 17px;
    padding: 34px 35px;
    margin-left: 11.5%;
}

.banner {
    height: 285px;
    width: auto;
    background-image: url(../images/image_headerbg.png);
    background-attachment: fixed;
    text-align: center;
}

.banner_title {
    margin-top: 0;
    padding-top: 88px;
    font-size: 27px;
    line-height: 37px;
    color: #FFF;
}

.banner_links {
    margin-top: 44px;
}

.banner_link_subscription {
    padding: 16px 19px 17px;
    background-color: #89CA62;
    margin-right: 16px;
    color: #FFFFFF;
    border-radius: 4px;
}

.banner_link_articles {
    padding: 16px 29px 17px 30px;
    background-color: #14B9D5;
    color: #FFFFFF;
    border-radius: 4px;
}

.section_title {
    text-align: center;
    padding: 0;
    margin-top: 49px;
    margin-bottom: 52px;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-transform: uppercase;
}

.post_list {
   padding-left: 0;
   height: 1000px;
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   flex-wrap: wrap;
   margin-left: -1px; /* знаю что так нельзя, но тут это что-бы пропал нижний скролл */
}

.post_figure {
    margin-bottom: 27px;
    background-color: #FFF;
}

.post_figcaption {
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 22px;
}

.our_most_popular_clients {
    height: 588px;
    width: auto;
    background-image: url(../images/image_mainbg.jpeg);
    background-attachment: fixed;
    text-align: center;
}

.our_mpc_title {
    padding-top: 106px;
    font-size: 32px;
    line-height: 44px;
    color: #FFF;
    text-transform: uppercase;
}

.our_mpc_hr {
    margin-top: 87px;
    margin-bottom: 106px;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    border: none;
}

.our_mpc_list {
    display: grid;
    list-style: none;
    grid-template-areas: "elem1 elem2 elem3 elem4";
}
.our_mpc_client:nth-child(1) {
   grid-area: elem1;
}
.our_mpc_client:nth-child(2) {
   grid-area: elem2;
}
.our_mpc_client:nth-child(3) {
   grid-area: elem3;
}
.our_mpc_client:nth-child(4) {
   grid-area: elem4;
}

.top_rated {
    margin-left: 0;
}

.top_r_list {
    list-style: none;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(7, 192px);
}

.top_r_item_image {
    height: auto;
    width: 192px;
}

.hot_n_list {
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "elem1 elem1 elem1 elem2"
    "elem3 elem3 elem4 elem4"
    "elem5 elem5 elem6 elem6"
    "elem7 elem8 elem8 elem8";  
    margin-right: 80px;
    margin-left: 80px;
    grid-row-gap: 44px;
    grid-column-gap: 60px;
}

.hot_n_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    background: #F9F7F7;
 }

 .hot_n_item:nth-child(1) {
    grid-area: elem1;
    flex-direction: row;
 }
 .hot_n_item:nth-child(2) {
    grid-area: elem2;
 }
 .hot_n_item:nth-child(3) {
    grid-area: elem3;
 }
 .hot_n_item:nth-child(4) {
    grid-area: elem4;
 }
 .hot_n_item:nth-child(5) {
    grid-area: elem5;
 }
 .hot_n_item:nth-child(6) {
    grid-area: elem6;
 }
 .hot_n_item:nth-child(7) {
    grid-area: elem7;
 }
 .hot_n_item:nth-child(8) {
    grid-area: elem8;
    flex-direction: row;
 }
 .hot_n_wide_card_direction {
    flex-direction: row;
 }
 
 .hot_n_title_smallcard {
    padding-bottom: 12px;
    padding-top: 6px;

    font-size: 18px;
    line-height: 25px;
    margin-top: 7px;
    margin-bottom: 0;
    color: #353A3D;
 }

 .hot_n_title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0;
    color: #353A3D;
    padding-right: 20px;
 }

 .hot_n_title_mediumcard {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0;
    color: #353A3D;
    padding-left: 205px;
 }

 .hot_n_paragraph {
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding-right: 15px;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 15px;
 }

 .footer {
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 77px;
 }

 .copyright {
    display: flex;
    font-size: 13px;
    line-height: 13px;
    margin-left: 174px;
    width: 512px;

    color: #FFFFFF;
 }

 .footer_images {
    margin-left: 170px;
    margin-top: 29px;
    margin-bottom: 35px;
 }