/*
строчки 5-9 говорили так делать на уроке, но я не понимаю зачем
*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/*
я пытался повторить всё 1 в 1, в том числе и отступы по пикселям.
расстояние между кнопками всё равно выглядит по-другому. 
на фигме оно 72 пикселя, у меня в работе тоже, но выглядит по-разному.
я допустил ошибку где-то или просто так кажется на глаз?
*/
.navigation_menu {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     
     margin: 25.5px 0;
     list-style: none;
}

.navigation_menu_item {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    margin: 0 72px;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.navigation_menu_link {
    font-family: sans-serif;
    color: red;
    text-decoration: none;
}

.main_photoapp_demo {
    width: 100%;
    height: auto;
}

.main_photoapp {
    display: flex;
    margin: 0;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 2.4px;

    color: #373737;
}

.main_photoapp_description_title {
    margin: 48px 0 38px;
    
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;

    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

/*
 можно ли считать margin "0 67.5px 28px" и "0 67.5px 66px"
за +-дубликаты? было ли бы лучшим вариантом создать отдельный тег со значением margin-left&right = 67.5px
и margin-top = 0, и поместить эти параграфы под него, меняя в них уже margin-bottom отдельно?
какой вариант является более оптимизированным?
(ниже я оставил первый вариант)
*/
.main_photoapp_description_paragraph_primary {
    margin: 0 67.5px 28px;
}

.main_photoapp_description_paragraph_support {
    margin: 0 67.5px 66px;
}

.main_photoapp_getstarted {
    font-family: sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;

    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    
    color: #FFFFFF;

    justify-content: center;
    background: #FF0000;
    border-radius: 4px;
    width: 191px;
    height: 51px;

    margin-bottom: 42px;
}

.footer_copyright {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;

    color: #373737;

    margin: 40px 105px 29px 713px;
}