.page_body {
    margin-top: 46px;
    margin-right: 96px;
    margin-left: 96px;
}

.ramda_logo {
    font-family: sans-serif;
    font-size: 80px;
    line-height: 94px;

    color: black;
}

.ramda_logo span {
    color: rgb(0, 191, 255);
}

.navigation_menu {
    display: flex;
    justify-content: center;

    list-style: none;
    margin-top: 38px;
    background-color: #35444F;
}

.navigation_item {
    padding: 26px 35px 19px;

    border-right: 1px solid white;
}

.navigation_item:hover {
    background-color: #222F3A;
}

.navigation_item:nth-child(1) {
    border-left: 1px solid white;
}

.navigation_item a {
    font-family: sans-serif;
    color: white;
    font-size: 24px;
    line-height: 28px;
}

.main {
    display: flex;
    margin-top: 48px;
}

/* наводка на кнопку в меню плохо работает - цвет фона обрезается, 
и я пытался найти решение проблемы в интернете, но там
были варианты с display: grid, а это домашнее было задано с изучением флекс. 
хотя, я думаю, что понимаю как можно сделать с гридом.
если надо будет - смогу переделать.
*/

.main_menu {
    margin: 0;
    flex-direction: column;
    list-style: none;
    border: solid 1px black;
    width: 314px;
    height: 394px;
}

.main_item {
    padding-top: 26px;
    padding-bottom: 26px;
    
    font-size: 27px;
    line-height: 27px;
}

.main_item a {
    color: #485863;
}

.main_item:hover a {
    color: black;
}

.main_item:hover {
    padding-left: 30px;
    background-color: #DBDBDB;
}

.main_paragraphs {
    margin-left: 52px;
    margin-top: 37px;

    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    
    color: #2C2C2C;
}

.main_paragraphs .main_paragraph_1 {
    margin-bottom: 34px;
}

.main_image {
    margin-left: 52px;
    width: 748px;
    height: 529px;
    border: solid 1px black;
}

.main_image img {
    margin: 75px 268px 73px 227px;  
    transition: transform 0.3s;
}

.main_image:hover img {
    transform: scale(1.2)
}

.footer_menu {
    display: flex;
    align-items: flex-start;

    list-style: none;
    margin-top: 55px;
    margin-bottom: 30px;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer_item {
    font-family: sans-serif;
    
    padding-top: 22px;
    padding-bottom: 19px;
    padding-right: 14px;
    
    font-size: 28px;
    line-height: 28px;
}

.footer_item:hover a {
    color: rgb(0, 141, 215);
    border-bottom: solid 1px rgb(0, 141, 215);
    padding-bottom: 6px;
}

.footer_item a {
    color: black;
}

.footer_item:nth-child(6) {
    font-size: 24px;
    line-height: 24px;
    padding-left: 58px;
}