
body {
    font-family: 'Comfortaa', cursive;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin-top: 0;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

header {
    margin-bottom: 40px;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
}

input, textarea, select {
    margin-top: 10px;
    margin-bottom: 10px;
}

.label {
    margin-top: 20px;
}

.container {
    max-width: 1580px;
    margin-left: auto;
    margin-right: auto;
}

.header__postcontainer {
    padding: 25px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__image {
	width: 280px;
	height: 49px;
    display: flex;
    align-items: center;
}

.header__btn {
    padding: 8px 16px;
    transition: 0.25s;
    font-weight: 1000;

    color: black;
    background-color: white;
    border: 2px solid black;
}

.header__btn:hover {
    border-radius: 7%;

    color: white;
    background-color: black;
    border-color: black;
}

.visit-title {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.visit__postcontainer {
    width: 100%;
    min-height: 802px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 0.5%;
    box-shadow: 10px 10px 10px rgba(0,0,0,.1);
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.visit__default-text {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    padding-top: 335px;
    font-size: 60px;
    font-weight: 300;
    color: #212529;
}

.visit__cards {
    min-width: 50px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    transition: all .8s ease;

    opacity: 0;
    visibility: hidden;
}

.modal__body {
    min-height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.modal-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
}

.modal__content {
    max-width: 800px;
    max-height: 650px;
    background-color: #fff;
    color: #212529;
    padding: 30px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

}

.modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    transition: .2s;
}

.modal__close:hover {
    color: rgba(0, 0, 0, .5);
}

.modal--active {
    opacity: 1;
    visibility: visible;
}

.card {
    width: 185px;
    height: 340px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #dee2e6;
    border-radius: 4px;

    background-color: rgba(245, 245, 245, 0.3);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
    
    margin-right: 10px;
    margin-bottom: 10px;

    position: relative;
}

.selected {
    border: 1px solid rgb(0, 255, 0);
    background-color: rgba(205, 255, 205, 0.3);
}

.card__list {
    margin-top: 85px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color:rgba(0, 0, 0, .8);

    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.card__list p {
    margin-top: 0;
    margin-bottom: 0;
}

.card__list a {
    color:rgba(0, 0, 0, .8);
    font-size: 12px;
    margin-bottom: 35px;
}

.card--before {
    height: 260px;
}

.card__list--before {
    justify-content: center;
    line-height: 30px;
}

.card-item {
    border-bottom: solid 1px black;
    width: 85%;
    margin-left: 5px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
}

.card-delete, .edit-card {
    position: absolute;
    font-size: 18px;
    top: 8px;
    color: #222;
    transition: .2s;
}

.card-delete {
    right: 10px;
}

.edit-card {
    left: 10px;
}

.card-delete:hover {
    color: rgb(173, 68, 68);
}

.edit-card:hover {
    color: rgb(172, 172, 172);
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createVisit-title {
    margin-top: 35px;
}

.errorInput {
    border-color: red;
    outline-color: red;
}

.errorWarning {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 700;
    color: red;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__half {
    margin-top: 30px;
    margin-bottom: 10px;
}

input[type="search-input_s"] {
    margin-left: 10px;
}

#search-btn {
    width: 20%;
}

#priority, #doc, #status {
    margin-left: 10px;
    height: 25px;
}

input[type="button"] {
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 7%;
    background-color: #fff;
    color: #212529;
    border-color: #212529;
    cursor: pointer;
    transition: 0.25s;
    font-weight: bold;
}

input[type="button"]:hover {
    background-color: #212529;
    color: #fff;
    border-color: #fff;
}

input[type="button"]:focus {
    outline: none;
}